{% extends 'base.html' %}

{% block content %}
  <!-- Your specific content goes here -->

 


  <div class="container mt-4">


    
    <div style="display: flex; justify-content: center; align-items: center; ">
        <div class="col-md-8 grid-margin stretch-card" >
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{user.Username}} </h4>
                <form class="forms-sample" method="POST" action="{{ url_for('admin.adminChangePassword') }}" style= "color:#6c7293">
                <div class="form-group row">
                    <label for="current_password" class="col-sm-3 col-form-label">Current Password</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" name="current_password" id="current_password" placeholder="current password" value="" style= "color:#6c7293">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="new_password" class="col-sm-3 col-form-label">New Password</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="new password" value="" style= "color:#6c7293">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="confirm_password" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="confirm password" value="" style= "color:#6c7293">
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary me-2">Change Password</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>


    {% endblock %}
    
