<!DOCTYPE html>
<html>
<head>
    <title>Delete Role</title>
</head>
<body>
    <h1>Delete Role</h1>
    <ul>
    {% for role in roles %}
        <li>
            {{ role.name }} - {{ role.description }} - Seniority Level: {{ role.seniority_level }}
            <form method="POST" action="{{ url_for('role.delete_role', role_id=role.id) }}">
                <input type="hidden" name="role_id" value="{{ role.id }}">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
