<!DOCTYPE html>
<html>
<head>
    <title>Change Password User</title>
</head>
<body>
    <h1>Add Info User</h1>
    <form method="POST" action="{{ url_for('user.changePassword') }}">
        <label for="current_password">Current Password</label>
        <input type="password" id="current_password" name="current_password" value="" required>
        <br>
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" name="new_password" value="" required>
        <br>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" value="" required>
        <br>
        <!-- Add more fields to edit other profile information -->
        <br>
        <input type="submit" value="Update Profile">
    </form>
</body>
</html>
